.landing_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #fefefe;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;

    .landing_page__container {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .landing_page__container__header {
        font-size: 2.8rem;
        font-weight: bolder;
        margin: 0;
        padding: 0;
        line-height: 1;
        letter-spacing: -1px;
      }

      .landing_page__container__logo{
        font-size: 10rem;
        color: #1c95eb;
        will-change: transform;
        
        & > * {
          margin: 0 auto;
          position: relative;
          animation: BounceUpAndDown 2s infinite ease-in-out;
        }
      }
      .landing_page__container__subtitle {
        font-size: 1.2rem;
      }

      .landing_page__container__btns_container {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .landing_page__container__btns_container__btn {
          display: inline-flex;
          align-items: center;
          justify-self: center;
          line-height: 1.5;
          border: none;
          border-radius: 5px;
          background-color: #333;
          color: #f1f1f1;
          font-size: 1.05rem;
          cursor: pointer;
          padding: 0.4rem;
          transition: background-color 0.2s;

          &:hover {
            background-color: #555;
          }

          .icons {
            font-size: 1.3rem;
            margin-left: 0.6rem;
            margin-right: 0.3rem;

          }

          span {
            margin-left: 0.6rem;
            margin-right: 0.6rem;
          }
        }

        .landing_page__container__btns_container__btn__github {
          display: inline-flex;
          align-items: center;
          justify-self: center;
          line-height: 1.5;
          border: none;
          border-radius: 5px;
          background-color: #fcfcfc;
          border: 1px solid #c7c7c7;
          color: #252525;
          font-size: 1.05rem;
          cursor: pointer;
          padding: 0.4rem;
          transition: background-color 0.2s;
          text-decoration: none;

          &:hover {
            background-color: #e3e3e3;
          }


          .icons {
            font-size: 1.3rem;
            margin-left: 0.6rem;
            margin-right: 0.3rem;

          }

          span {
            margin-left: 0.6rem;
            margin-right: 0.6rem;
          }
        }
      }
    }
}

@keyframes BounceUpAndDown {
  0% {
        transform: translatey(0px);

  }
  50% {
        transform: translatey(-20px);

  }
  100% {
        transform: translatey(0px);

  }
}